@import "libs"
@import "base"

//---------------------------------------------------------base-class-------------------------------------
.tel
	position: relative
	display: block
	font-family: $open
	font-size: 22px
	font-weight: 400
	color: #fff
	z-index: 1
	margin-right: 25px

	&::before
		content: ''
		width: 0
		transform: scale(0)
		transition: all .3s
		position: absolute
		bottom: 0
		width: 100%
		height: 1px
		background-color: #fafafa
		z-index: -1

	&:hover
		color: #fafafa
		text-decoration: none
		&::before
			transform: scale(1)

	&:focus
		color: #fafafa
		text-decoration: none
		&::before
			transform: scale(1)

	span
		font-weight: 700

.order
	position: relative
	display: block
	z-index: 1
	color: #fff
	line-height: 1

	&::before
		content: ''
		width: 0
		transform: scale(1)
		transition: all .3s
		position: absolute
		bottom: -5px
		width: 100%
		height: 1px
		background-color: #fafafa
		z-index: -1

	&:hover
		color: #fafafa
		text-decoration: none
		&::before
			transform: scale(0)

	&:focus
		color: #fafafa
		text-decoration: none
		&::before
			transform: scale(0)

.nav
	ul
		display: flex
		flex-direction: row
		justify-content: space-between

	li
		margin-right: 40px
		&:last-child
			margin-right: 0
	
	a
		position: relative
		font-size: 16px
		color: #fff
		z-index: 1
		&::before
			content: ''
			width: 0
			transform: scale(0)
			transition: all .3s
			position: absolute
			bottom: 0
			width: 100%
			height: 1px
			background-color: #fafafa
			z-index: -1

		&:hover
			color: #fafafa
			text-decoration: none
			&::before
				transform: scale(1)

		&:focus
			color: #fafafa
			text-decoration: none
			&::before
				transform: scale(1)

	&__order
		display: none
		font-size: 18px
		font-weight: 600

	&__tel
		display: none
		font-size: 18px
		font-weight: 600

.container
	position: relative
//--------------------------------------------------------end-base-class-------------------------------------

.header
	position: fixed
	top: 0
	right: 0
	left: 0

	&-active
		background-color: rgba($accent, .95)
		z-index: 1000

	&-menu
		background-color: rgba($accent, .95)
		z-index: 1000

	&__container
		position: relative
		display: flex
		flex-direction: row
		justify-content: space-between
		align-items: center
		padding-top: 20px
		padding-bottom: 20px

	&__contact
		display: flex
		flex-direction: row
		justify-content: space-between
		align-items: center

.section__header
	background-image: url(../img/header.png)
	background-size: cover
	padding-top: 230px
	padding-bottom: 240px

.premises
	padding-top: 90px
	padding-bottom: 135px
	position: relative
	overflow: initial
	
	&__container
		position: relative
		&::before
			content: attr(data-bg)
			display: block
			position: absolute
			right: 0
			bottom: -260px
			left: 0
			font-size: 175px
			font-weight: 800
			color: rgba(33, 33, 33, .05)

	h3
		margin-bottom: 55px

	svg
		width: 40px
		height: 40px
		fill: $accent
		margin-bottom: 25px

	&__container
		display: flex
		flex-direction: row
		justify-content: space-between
		flex-wrap: wrap

	&__block
		width: 33.33333333333%
		padding: 40px
		border: 1px solid #e6e6e6
		transition: all .3s

		&:hover
			background-color: $accent
			box-shadow: 0 0 20px rgba($accent, .15)
			color: #fff
			svg
				fill: #fff
				transition: all .3s

.tasks
	background-image: url(../img/tasks-bg.png)
	background-repeat: no-repeat
	background-size: cover
	padding-top: 140px
	padding-bottom: 210px

	h2, h3, h4
		color: #fff

	h2, h3
		text-align: center

	h2
		margin-bottom: 15px

	h3
		font-weight: 300
		margin-bottom: 55px

	h4
		margin-left: 85px

	svg
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		width: 40px
		height: 35px
		fill: $accent

	li
		position: relative
		margin-bottom: 20px
		padding-left: 20px
		font-size: 12px

		&:last-child
			margin-bottom: 0

		&::before
			content: ""
			position: absolute
			left: 0
			top: 10px
			width: 5px
			height: 5px
			border-radius: 50%
			background-color: #fff


	&__container
		display: flex
		flex-direction: row
		justify-content: space-between
		flex-wrap: wrap

	&__block
		width: 30%
		color: #fff
		font-weight: 300
		margin-bottom: 50px

		&:nth-child(n+3)
			margin-bottom: 0

	&__img
		position: absolute
		background-color: #fff
		border-radius: 50%
		width: 60px
		height: 60px
	
	&__title
		position: relative
		margin-bottom: 50px

.architecture
	position: relative
	padding-top: 15px
	padding-bottom: 150px
	background-image: url(../img/architecture-bg.png)
	background-repeat: no-repeat
	background-position: center
	
	&__container
		&::before
			content: attr(data-bg)
			display: block
			position: absolute
			right: 0
			top: 20px
			left: 0
			font-size: 175px
			font-weight: 800
			color: rgba(33, 33, 33, .05)

	h3
		margin-bottom: 30px

	p
		line-height: 1.4

	&__bg
		position: absolute
		top: 45%
		right: -30%

	&__img
		position: absolute
		right: -25%
		top: 15%

	li
		position: relative
		display: flex
		flex-direction: row-reverse
		margin-bottom: 105px
		text-align: right

		&:nth-child(1)
			right: 15%

		&:nth-child(2)
			right: 56%

		&:nth-child(3)
			right: 43%

		&:nth-child(4)
			right: 73%

		&:nth-child(5)
			right: 47%
			text-align: left
			margin-bottom: 50px

		&:last-child
			right: 60%
			margin-bottom: 0

	&__circle
		position: relative
		width: 64px
		height: 64px
		background: linear-gradient(#3248c7, #27389b)
		border-radius: 50%
		box-shadow: 0 0 20px rgba($accent, .4)
		margin: 0 25px

		&::before
			content: ""
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			background-color: #fff
			width: 42px
			height: 42px
			border-radius: 50%

		&::after
			content: url(../img/icon/check.svg)
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			width: 20px
			height: 20px

.why
	padding-top: 75px
	padding-bottom: 205px
	background-image: url(../img/why-bg.png)
	background-repeat: no-repeat
	text-align: center
	background-position: 0 -20px
	background-color: #fafafa

	h2
		&::before
			left: -150px

		span
			color: #212121
			font-weight: 300
	h3
		margin-bottom: 50px

	h4
		margin-bottom: 10px

	&__container
		display: flex
		flex-direction: row
		justify-content: space-between
		flex-wrap: wrap

	&__block
		width: 33%
		display: flex
		flex-direction: column
		align-items: center
		margin-bottom: 100px

		&:nth-child(n+4)
			margin-bottom: 0

	&__circle
		position: relative
		width: 60px
		height: 60px
		background-color: #fff
		box-shadow: 0 0 20px rgba($accent, .4)
		border-radius: 50%
		margin-bottom: 25px

		svg
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			width: 30px
			height: 30px
			fill: $accent

.about
	padding-top: 90px
	padding-bottom: 215px
	position: relative

	&__container
		position: relative
		&::before
			content: attr(data-bg)
			display: block
			position: absolute
			right: 0
			top: -70px
			left: 0
			font-size: 175px
			font-weight: 800
			color: rgba(33, 33, 33, .05)
	h2
		margin-bottom: 60px

	h4
		margin-bottom: 15px

	p
		font-size: 16px

	&__bg
		position: absolute
		left: 35%
		bottom: 0
		height: 100%

.map
	position: relative

	h2
		font-size: 48px
	
	p
		margin-bottom: 30px

	ul
		margin-bottom: 30px

	li
		line-height: 2
		margin-bottom: 10px

		&:last-child
			margin-bottom: 0
	
		a
			color: #212121

	span
		font-size: 16px
		font-family: $open
		font-weight: 800
		color: $accent

	.container
		position: initial

	&__block
		position: absolute
		top: 70px
		width: 450px
		background-color: #fafafa
		padding: 40px
		background-image: url(../img/map-bg.png)
		background-repeat: no-repeat
		background-position: 230px bottom
		box-shadow: 0 20px 50px rgba(0, 0, 0, .15)

		&::before
			content: attr(data-bg)
			display: block
			position: absolute
			top: -10px
			left: 10px
			font-size: 75px
			font-weight: 800
			color: rgba(33, 33, 33, .05)


.footer
	background-color: #212121

	&__copy
		padding: 0 0 30px 0
		text-align: center
		color: #4c4c4c



	a
		color: #fff











@import "media" // Always at the end